.home-whyus {
  .container {
    .section-title {
      margin-bottom: 6rem;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

      .card {
        position: relative;

        div {
          background: hsla(38, 56%, 54%, 10%);
          backdrop-filter: blur(15px);
          padding: 4rem 2.5rem 2.5rem 2.5rem;
          text-align: center;
          position: relative;

          svg {
            position: absolute;
            inset: -40px 0 auto 0;
            margin: auto;
          }

          h4 {
            font-family: 'semi';
            margin-bottom: 1rem;
          }
        }
      }

      .card::before {
        content: '';
        background: var(--primary-color);
        width: 120px;
        height: 120px;
        position: absolute;
        inset: -60px 0 auto 0;
        margin: auto;
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
  .home-whyus {
    .container {
      .cards {
        .card {
          div {
            padding: 4rem 2rem 2rem 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-whyus {
    .container {
      .section-title {
        margin-bottom: 5rem;
      }

      .cards {
        grid-template-columns: 1fr;
        gap: 5rem;

        .card {
          div {
            padding: 3rem 2rem 2rem 2rem;

            svg {
              width: 64px;
              height: 64px;
              inset: -32px 0 auto 0;
            }

            h4 {
              margin-bottom: 0.5rem;
            }
          }
        }

        .card::before {
          width: 96px;
          height: 96px;
          inset: -48px 0 auto 0;
        }
      }
    }
  }
}
