.home-special {
  .container {
    .card {
      background-image: url('../img/mesh.webp');
      background-repeat: no-repeat;
      background-size: cover;

      display: grid;
      grid-template-columns: 1fr 1.618fr;

      .data {
        padding: 3rem;
        display: grid;
        gap: 1rem;

        p {
          text-align: justify;
        }

        .features {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 0.5rem;

          div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .square {
              background: var(--primary-color);
              width: 12px;
              height: 12px;
            }

            h6 {
              font-family: 'semi';
            }
          }
        }

        .btn {
          margin-top: 1.5rem;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-special {
    .container {
      .card {
        .data {
          padding: 2.5rem;
          gap: 0.75rem;

          .features {
            row-gap: 0.5rem;

            div {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              .square {
                width: 8px;
                height: 8px;
              }

              h6 {
                font-size: var(--body-font-size);
              }
            }
          }

          .btn {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-special {
    .container {
      .card {
        grid-template-columns: 1fr 1fr;

        .data {
          padding: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-special {
    .container {
      .card {
        grid-template-columns: 1fr;

        .data {
          padding: 1.5rem 1.5rem 2rem 1.5rem;

          .features {
            div {
              h6 {
                white-space: nowrap;
              }
            }
          }
        }

        img {
          height: 400px;
          object-fit: unset;
        }
      }
    }
  }
}
