.home-ribbon {
  // background-image: url('../img/ribbon.webp');
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: bottom;
  // height: 224px;

  height: 240px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    inset: auto 0 0 0;
    margin: auto;
    max-width: unset;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-ribbon {
    height: 224px;

    img {
      height: 112px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-ribbon {
    height: 208px;

    img {
      height: 104px;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-ribbon {
    height: 128px;

    img {
      height: 88px;
    }
  }
}
