.home-hero {
  padding-top: 6rem;
  background-image: url('../img/mesh.webp');
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    .home-hero-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .data {
        padding-block: 4rem;
        display: grid;
        gap: 0.5rem;

        h4 {
          font-family: 'semi';
        }

        .btn {
          margin-top: 1.5rem;
        }
      }

      figure {
        position: relative;

        img {
          width: 480px;
          height: 480px;
          position: absolute;
          inset: 0 0 auto 0;
          margin-inline: auto;
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-hero {
    padding-top: 5rem;

    .container {
      .home-hero-container {
        .data {
          padding-block: 3rem;
          gap: 0.25rem;

          .btn {
            margin-top: 1rem;
          }
        }

        figure {
          img {
            width: 400px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .home-hero {
    padding-top: 4rem;

    .container {
      .home-hero-container {
        .data {
          padding-block: 2rem;

          p {
            display: none;
          }
        }

        figure {
          img {
            width: 192px;
            height: 240px;
          }
        }
      }
    }
  }
}
