.home-products {
  .container {
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      .card {
        background-image: url('../img/mesh.webp');
        background-repeat: no-repeat;
        background-size: cover;

        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        justify-items: center;
        gap: 2rem;
        padding: 2rem 2rem 0 2rem;

        box-shadow: var(--box-shadow);
        h3 {
          font-family: 'semi';
        }

        img {
          width: 160px;
          height: 160px;
          object-fit: cover;
        }
      }

      .card:last-child {
        grid-template-columns: unset;
        place-items: center;
        padding: 0;

        img {
          width: 128px;
          height: auto;
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-products {
    .container {
      .cards {
        .card {
          gap: 1.5rem;
          padding: 1.5rem 1.5rem 0 1.5rem;

          img {
            width: 128px;
            height: 128px;
          }
        }

        .card:last-child {
          img {
            width: 104px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-products {
    .container {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-products {
    .container {
      .cards {
        .card {
          grid-template-columns: 1fr;
          gap: 1rem;
          padding: 1.25rem;

          img {
            order: -1;
            width: 100%;
          }
        }

        .card:last-child {
          img {
            width: 120px;
          }
        }
      }
    }
  }
}
