.header {
  background: var(--primary-color-96);
  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  z-index: 100;
  transition: box-shadow 0.3s;

  nav {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
      position: absolute;
      inset: 0;
      margin: auto;
      width: max-content;
      height: max-content;

      img {
        width: 160px;
        height: 56px;
      }
    }

    .nav__menu {
      .nav__menu-header {
        display: none;
      }

      .nav__list {
        display: flex;
        align-items: center;
        gap: 2rem;

        .nav__item {
          .nav__link {
            color: var(--text-color);
            display: inline-block;
            white-space: nowrap;
            transition: color 0.3s;
          }

          .nav__link:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .nav__btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        background: #F8F1E6;
        width: 44px;
        height: 44px;
        box-shadow:  0 2px 5px hsla(0, 0%, 0%, 10%);;

        svg {
          fill: var(--primary-color);
        }
      }

      .info {
        display: grid;

        span:first-child {
          color: var(--text-color);
        }

        span:last-child {
          color: var(--title-color);
          font-family: 'bold';
        }
      }
    }

    .nav__toggle {
      display: none;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@  BREAKPOINTS  @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .header {
    nav {
      height: 5rem;

      .nav__logo {
        img {
          width: 144px;
          height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .header {
    .overlay {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      pointer-events: none;
      background: hsla(0, 0%, 0%, 2%);
      backdrop-filter: blur(20px);
      transition: opacity 0.3s;
    }

    nav {
      height: 5rem;

      .nav__logo {
        img {
          width: 112px;
          height: 40px;
        }
      }

      .nav__menu {
        background: var(--primary-color-96);
        position: fixed;
        right: -100%;
        top: 0;
        width: 60%;
        height: 100vh;
        z-index: 101;
        transition: right 0.3s ease-in-out;

        .nav__menu-header {
          height: 5rem;
          display: grid;
          border-bottom: 1px solid var(--divider-color);

          .nav__logo {
            position: static;
          }
        }

        .nav__list {
          flex-direction: column;
          padding: 1.5rem;

          .nav__item {
            width: 100%;

            .nav__link {
              width: 100%;
              padding-bottom: 0.5rem;
              border-bottom: 1px solid var(--divider-color);
              font-size: var(--h6-font-size);
              font-family: 'semi';
            }
          }

          .nav__item:last-child .nav__link {
            border-bottom: none;
          }
        }
      }

      .nav__btn {
        .icon {
          width: 40px;
          height: 40px;
        }

        .info {
          display: none;
        }
      }

      .nav__toggle {
        order: -1;
        display: grid;
        align-items: center;
        height: 40px;
        width: 40px;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.header.header-shadow {
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 5%);
}

.header .overlay.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

.header .nav .nav__menu.show-menu {
  right: 0;
}

.remove-body-scroll {
  overflow: hidden;
}
