.header {
  height: 6rem;
  overflow: hidden;
  background: red;

  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  z-index: 100;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@  BREAKPOINTS  @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .header {
    height: 5rem;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .header {
    height: 4rem;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.header .overlay.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

.header .nav .nav__menu.show-menu {
  right: 0;
}

.remove-body-scroll {
  overflow: hidden;
}
